body{
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body>section{
    display: flex;
    justify-content: center;
    gap: 48px;
    align-items: center;
    padding: 24px 36px;
    border-radius: 24px;
    width: 50%;
    background-color: rgb(148, 207, 209);
}

@media screen and (max-width: 600px) {
    body>section{
        flex-direction: column;
        width: 65%;
        gap: 0;
    }
}